@use 'variables' as *;

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem $container-padding; 
    background-color: $dark;
    color: $light;

    .logo img{
        max-height: 60px;
        width: auto;
        color: $secondary;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.5);  
        }
    }

    .nav-links{
        display: flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
       

        &:hover{
          transform: scale(1.5);  
        }

    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;

        .nav-links{
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 1rem;
        }
        
    }
}   