@use 'fonts' as *;
@use 'variables' as *;
@use 'sass:map';

.btn{
    display: inline-block;
    font-family: $font-playfair;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:active{
        transform: scale(0.95);
    }
}

@each $nombre, $paleta in $personajes{

    //DISEÑO PRINCIPAL
    $base: map.get($paleta, base);
    $hover: map.get($paleta, hover);
    $fondo: map.get($paleta, fondo);
    $letra: map.get($paleta, letra);

    .btn-#{$nombre}-principal{
        background-color: $base;
        color: $fondo;
        border: 2px solid $base;

        &:hover{
            background-color: $hover;
            color: $letra;
            border-color: $hover;
        }
    }

    .btn-#{$nombre}-inverso{
        background-color: $hover;
        color: $fondo;
        border: 2px solid $hover;

        &:hover{
            background-color: $base;
            border-color: $base;
            color: $fondo;
        }
    }

    .btn-#{$nombre}-outline{
        background-color: transparent;
        color: $base;
        border: 2px solid $base;
        

        &:hover{
            background-color: $base;
            color: $fondo;
        }
    }

    .btn-#{$nombre}-elegante{
        background-color: $fondo;
        color: $base;
        border: 2px solid transparent;

        &:hover{
            background-color: $base;
            color: $fondo;
        }
    }
}



















//pequeño
.btn-sm{
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}
//mediano
.btn-md{
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

.btn-lg{
    padding: 1rem 2rem;
    font-size: 1.25rem;
}