@use 'fonts' as *;
@use 'variables' as *;
.btn{
    display: inline-block;
    font-family: $font-playfair;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }
}
//pequeño
.btn-sm{
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}
//mediano
.btn-md{
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

.btn-lg{
    padding: 1rem 2rem;
    font-size: 1.25rem;
}

@each $nombre, $color in $theme-colors{
    .btn-#{$nombre}{
        background-color: $color;
        border: 2px solid $color;
        color: $light;

        &:hover{
            background-color: darken($color, 10%);
            border-color: darken($color, 10%);
        }

        &:active{
            transform: scale(0.98);
        }
    }
    .btn-outline-#{$nombre}{
        background-color: transparent;
        color: $color;
        border: 2px solid $color;
        &:hover{
            background-color: $color;
            color: $light;
        }
            &:active{
                transform: scale(0.98);
            }
    }
}