@use "variables" as v;
@use "mixins/layout" as mixin-layout;
@use "sass:map";

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: (calc(v.$gutter-width / -2));
//     margin-right: (calc(v.$gutter-width / -2));
// }

// [class*="col-"] {
//     padding-right: calc(v.$gutter-width / 2);
//     padding-left: calc(v.$gutter-width / 2);
    
// }

// @for $i from 1 through v.$grid-columns {
//     .col-#{$i}{
//         @include mixin-grid.make-col($i);
//     }
// }
// @each $breakpoint, $max-width in v.$container-max-widths{
//     @media(min-width: #{map.get(v.$grid-breakpoints, $breakpoint)}) {
//         @for $i from 1 through v.$grid-columns {
//             .col-#{$breakpoint}-#{$i} {
//                 @include mixin-grid.make-col($i);
//             }
//         }
//     }
    
// }

// .col {
//     position: relative;
//     width: 100%;
//     padding-left: calc(v.$gutter-width / 2);
//     padding-right: calc(v.$gutter-width / 2);
//     flex: 1 0 0%;

// }

// .col-auto {
//     flex: 0 0 auto;
//     width: auto;
// }

// //crear todas las clases de columnas auto col-sm-auto, col-md-auto, col-lg-auto
// @each $breakpoint, $value in v.$grid-breakpoints {
//     @media (min-width: $value) {
//         .col-#{$breakpoint}-auto {
//             @include mixin-grid.make-col-auto();
//         }
//     }
// }


//generar clases de col para grid-row
// @for $i from 1 through v.$grid-row-columns{
//     @include mixin-grid.make-row-cols($i);
// }

// // Hacemos las columnas responsivas
// @include mixin-grid.make-responsive-row-cols();

.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 0 0%;
}

@include mixin-layout.make-col-fixed;
