@use 'variables' as *;
@use 'fonts' as *;
@use 'sass:map';

//Tabla basica

.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    color: #2d2926;
    background-color: #ffffff;
    font-family: $font-poppins;
    
    th,td{
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;
        text-align: left;
    }
    th{
        font-weight: 700;
    }
}
//Tabla con border
.table-borde{
    border: 1px solid #dee2e6;

    th,td{
        border: 1px solid #dee2e6;
    }
}

.table-hover{
    tbody tr{
        td{
            transition: background-color 0.2s ease;
        }
       
        &:hover td{
            background-color: rgba(0,0,0,0.05);
        }
    }
}
 .table-responsive{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

//Estilizacion
@each $nombre, $paleta in $personajes{
    $base: map.get($paleta, base);
    $fondo: map.get($paleta, fondo);

    .table-#{$nombre}{
        thead{
            background-color: $base;
            color: $fondo;
            
            th{
                border-bottom: none;
                border-color: rgba($fondo, 0.2);
            }
        }
        &.table-hover tbody tr:hover td{
            background-color: rgba($base, 0.1);
        }
    }
}