$personajes:(
  "remy":(
    base: #5C7594,
    hover: #F2A2AE,
    fondo: #E8ECEF,
    letra: #2D2926
  ),
  "linguini":(
    base: #4A5568,
    hover:#C65A31,
    fondo:#D9D9D9,
    letra: #2D2926
  ),
  "collete":(
    base: #2C2630,
    hover:#8B2C38,
    fondo: #F9F9F2,
    letra: #2D2926
  ),
  "ego":(
    base: #1C1E20,
    hover: #4B2E39,
    fondo: #D2D5D9,
    letra: #000 
  ),
);

//variables layout
//en px los valores de cuadricula
//puntos de quiebre pantalla
$grid-breakpoints: (
  xs: 0px,
  sm: 576px,
  md:768px,
  lg:992px,
  xl:1200px,
  xxl:1400px,
);


//tamaño de contenedores

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
);
$container-padding: 1rem;

//variables de sistema de columnas
$grid-columns: 12; // anchos en porcentaje de cada columna individual
$gutter-width: 1.5rem; //espaciado entre columnas
$grid-row-columns: 6; 

//espaciados predeterminados para margenes y paddings
$spacer: 1rem;
$spacers:(
  "0":0,
  "1":$spacer * .25,
  "2":$spacer * .5,
  "3":$spacer,
  "4":$spacer * 1.5,
  "5":$spacer * 3,
);