@use "sass:map";
@use "../variables" as v;
// @use "./breakpoints" as bp;


@mixin make-container {

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(v.$gutter-width / 2);
    padding-left: calc(v.$gutter-width / 2);

}

@mixin generate-containers {
    .container{
        @include make-container;
        @each $bp, $max in v.$container-max-widths{
            @media (min-width: map.get(v.$grid-breakpoints, $bp)){
                max-width: $max;
            }
        }
    }

    .container-fluid{
        @include make-container;
        max-width: 100%;
    }

}

