@use "../variables" as v;

//contenedores responsivos
@mixin make-container($breakpoint, $max-width){
    @media (min-width: $breakpoint){
        max-width: $max-width;
    }
}
//.col-n
@mixin make-col($size) {
    flex: 0 0 calc((100% /#{v.$grid-columns}) * #{$size});
    max-width: calc((100% /#{v.$grid-columns}) * #{$size});

}

@mixin make-col-auto(){
    flex: 0 0 auto;
    max-width: none;
}

@mixin make-row-cols($size) {
    .row-cols-#{$size} {
        > *{
            flex: 0 0 calc(100% / #{$size});
            max-width: calc(100% / #{$size});
        }
    }
      
}

@mixin make-responsive-row-cols(){
    @each $breakpoint, $value in v.$grid-breakpoints{
        @media(min-width: $value){
            @for $i from 1 through v.$grid-columns{
                .row-cols-#{$breakpoint}-#{$i}{
                    > * {
                        flex: 0 0 calc(100%/ #{$i});
                        max-width: calc(100% #{$i});

                    }
                }
            }
        }
    }
}


//.col-n con tamaño fijo w=width
// @mixin make-col-fixed {
//     @for $i from 1 through v.$grid-columns {
//         .col-#{$i}{
//             $w: ($i / v.$grid-columns)* 100%;
//             flex: 0 0 $w;
//             max-width: $w;

//         }

//     }
// }

//.col responsive -> .col-sm-6

// @mixin make-col-responsive {
//     @each $bp, $value in v.$grid-breakpoints{
//         @include respond-to($bp){
//             @for $i from 1 through v.$grid-columns{
//                 .col-#{$bp}-#{$i} {
//                     $w: ($i /v.$grid-columns)*100%;
//                     flex: 0 0 $w;
//                     max-width: $w;
//                 }
//             }

//         }

//     }
// }
